* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;
  height: 100%;
}

.container {
  background-color: whitesmoke;
  width: 400px;
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 8px groove rgb(160, 158, 158);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  color: royalblue;
  margin-bottom: 20px;
}

.header p {
  font-size: small;
  color: crimson;
  font-style: oblique;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.board {
  width: 306px;
  height: 306px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  margin: 1px;
  font-size: 80px;
  font-weight: 600;
  font-family: cursive;
  box-sizing: border-box;
}

.square:hover {
  cursor: pointer;
  background-color: #0a62de;
}
.square div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.reset-button {
  text-align: center;
}

#reset {
  background-color: #0078d0;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 18px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  border: none;
}

#reset:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 600px) {
  .header {
    font-size: 1.5rem;
  }

  .square {
    font-size: 60px;
  }

  .message {
    font-size: 1.2rem;
  }

  #reset {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 95%;
    overflow: hidden;
  }
  .header {
    font-size: 1.5rem;
  }

  .square {
    font-size: 55px;
  }

  .message {
    font-size: 1rem;
  }

  #reset {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

.custom-swal-title {
  color: #0078d0;
}
