body {
  background: url("./bckgndimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
}
body h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: whitesmoke;
  text-align: start;
  font-weight: 800;
  text-shadow: 0 0 10px whitesmoke;
  margin-top: 2%;
  margin-left: 18%;
}
.container {
  width: 30%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 30px;
  box-shadow: 0 0 25px whitesmoke;
  border: 15px solid white;
  margin-left: -25%;
  margin-top: -0.8%;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
.hms-btns {
  display: flex;
  width: 100%;
  margin-top: 7%;
}

.hms-btns span {
  font-family: monospace;
  font-size: small;
  margin: 5%;
  text-align: end;
  margin-right: -5%;
}
.hms-btns h2 {
  color: whitesmoke;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  margin-top: 5px;
}

.timer {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 0 0 10px whitesmoke;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: crimson;
  font-weight: 900;
  margin: 3%;
}

.timer_l {
  width: 20%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px whitesmoke;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: crimson;
  font-weight: 900;
  margin: 3%;
}

.timelap {
  width: 80%;
  height: 20%;
  border-radius: 19px;
  box-shadow: 0 0 10px whitesmoke;
  background: whitesmoke;
  margin-left: 10%;
  margin-top: 8%;
  display: flex;
}

.spri {
  width: 100%;
  display: flex;
  margin-top: 10%;
}

.spri .btn {
  width: 30%;
  height: 50px;
  border-radius: 19px;
  background: #ea1010;
  box-shadow: 0 0 10px whitesmoke;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  margin: 3%;
  transition: all 0.2s ease-in-out;
  border: 3px solid whitesmoke;
  cursor: pointer;
}

.spri .btn:hover {
  transform: scale(1.1);
}

.spri #pse {
  background: #1d8b49;
}

.spri #rst {
  background: #0e0e0e;
}
.spri #lap {
  background: rgb(83, 7, 83);
}
.cln1 {
  display: flex;
  align-items: end;
  height: 50%;
}
