@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about .about-content,
.projects .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section .title::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: darkorchid;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo h1 {
  font-size: 35px;
  font-weight: 600;
  color: gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease;
}
.navbar .logo h6 {
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  font-family: cursive;
  margin-left: 4px;
}
.navbar.sticky .logo h1 {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.2s ease-in-out;
}
.navbar .menu li a:hover {
  color: yellow;
  transform: scale(1.3);
}
.navbar.sticky .menu li a:hover {
  color: yellow;
  transform: scale(1.3);
}

/*==================== Waving hand  ====================*/
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.home-content i {
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  height: 45px;
  width: 45px;
  border: 2.4px solid whitesmoke;
  border-radius: 50px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  margin: 15px;
  margin-top: 2rem !important;
}
.home-content .fa-facebook-f {
  background-color: #3b5998;
}
.home-content .fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 28% 100%,
      #fcdf8f 0%,
      #fbd377 10%,
      #fa8e37 22%,
      #f73344 35%,
      transparent 65%
    ),
    linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}

.home-content .fa-github {
  background-color: #282b2e;
}
.home-content .fa-linkedin {
  background-color: #0077b5;
}
.home-content i:hover {
  transform: scale(1.2);
}

/* home section styling */
.home {
  display: flex;
  background: url('images/banner1.jpeg') no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
  height: 70%;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content {
  height: 80%;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 70px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 35px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: gold;
  font-weight: 500;
}

/* about section styling */
.about {
  background-image: linear-gradient(360deg, #ff8473, #fff9d2);
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border: 10px solid cornsilk;
  border-radius: 40px;
  margin-top: 2.5rem;
  margin-left: 4rem;
}
.about .about-content .left img:hover {
  transform: scale(1.3);
  transition: 1s ease;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 900;
  margin-top: 1rem;
}
.about .about-content .right span {
  color: rgb(18, 67, 216);
}

.about .about-content .right p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  line-height: 1.5rem;
  font-weight: 400;
}

/* skills section styling */
.skills {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: large;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: ghostwhite;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(230, 7, 52);
}
.skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 85%;
}
.skills-content .right .js::before {
  width: 60%;
}
.skills-content .right .reactjs::before {
  width: 50%;
}
.skills-content .right .bootstrap::before {
  width: 70%;
}
.skills-content .right .tailwindcss::before {
  width: 40%;
}
/* projects section styling */
.projects {
  color: #fff;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.projects .title {
  color: #111;
}
.projects .title::before {
  background: #111;
}

.projects .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 11px;
}
.projects .serv-content .card:hover {
  background: crimson;
}
.projects .serv-content .card .box {
  transition: all 0.3s ease;
}
.projects .serv-content .card:hover .box {
  transform: scale(1.05);
}
.projects .serv-content .card i {
  font-size: 50px;
  color: greenyellow;
  transition: color 0.3s ease;
}
.projects .serv-content .card:hover i {
  color: #fff;
}
.projects .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* contact section styling */
.contact {
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: blueviolet;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: blueviolet;
  border: 2px solid blueviolet;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: whitesmoke;
  background: none;
}
/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: yellow;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
